.SneakerPagination {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: baseline;
  justify-items: center;
  width: 100%;
}

.SneakerPagination button {
  background-color: #ffffff;
  border-style: none;
  padding: 1em;
  font-size: 1.7rem;
}

.SneakerPagination-page-data {
  font-size: 1.7rem;
  letter-spacing: 4px;
  grid-column: 2/3;
}
