.SneakerDirectory {
  padding-top: 2em;
}

.SneakerDirectory .ContentContainer {
  display: flex;
  margin-top: 2em;
}

.SneakerDirectory-filters {
  width: 25%;
}

.SneakerDirectory-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2em;
}

.ModelFilter-label,
.SizeFilter-label,
.PriceFilter-label {
  font-size: 1.5rem;
  margin: 0;
}

.SizeFilter-label-count {
  color: #444444;
  font-size: 1rem;
  padding-left: 3px;
}

.PriceFilter-input {
  display: block;
  block-size: 2.7em;
  width: 100%;
}

.PriceFilter-button {
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  font-family: 'Teko', sans-serif;
  font-size: 1.9rem;
  margin-top: 0.5em;
  text-transform: uppercase;
  border-style: none;
}

.SneakerDirectory-filters-mb-exitBtn,
.SneakerDirectory-filters-toggle {
  display: none;
}
@media (max-width: 970px) {
  .SneakerDirectory .ContentContainer {
    flex-direction: column;
    align-items: center;
  }

  .SneakerDirectory-filters-toggle {
    display: block;
    color: #ffffff;
    background-color: #000000;
    border-style: none;
    font-family: 'Teko', sans-serif;
    font-weight: 300;
    padding: 1em;
  }

  .SneakerDirectory-filters-toggle p {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.7rem;
    margin: 0;
  }

  .SneakerDirectory-content {
    margin-left: 0;
    margin-top: 4em;
  }

  .SneakerDirectory-filters-mb-exitBtn {
    display: block;
    background-color: #ffffff;
    border-style: none;
    font-size: 2.5rem;
    padding: 1em 0.5em;
  }

  .SneakerDirectory-filters {
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    height: 100vh;
    transition: transform 300ms;
    overflow-y: scroll;
    padding: 1em;
  }
  .open-mobile-filters {
    transform: translateX(-100%);
  }
}
