.TextOnImg {
  position: relative;
}

.TextOnImg-img {
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.TextOnImg-txt {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2em;
  text-transform: uppercase;
}

.TextOnImg-txt-h1 {
  font-size: 5.5rem;
  margin: 0;
}
