.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.Login-header {
  font-size: 2.7rem;
  text-transform: uppercase;
  font-weight: 500;
}

.Login-form {
  width: 65%;
}

.Login-label {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
}

.Login-input {
  margin-bottom: 2.5em;
  height: 3rem;
  width: 100%;
  border: 1px solid #000000;
}

.Login-submit {
  font-family: 'Teko', sans-serif;
  background-color: #000000;
  color: #ffffff;
  font-size: 2rem;
  text-transform: uppercase;
  border-style: none;
  height: 3.7rem;
  width: 100%;
  margin-bottom: 1.5em;
}

.Login-submit:hover {
  cursor: pointer;
  background-color: #4f4f4f;
}
