.SignUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  padding: 3em 0;
}

.SignUp-header {
  font-size: 2.7rem;
  text-transform: uppercase;
  font-weight: 500;
}

.SignUp-form {
  width: 65%;
}

.SignUp-label {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
}

.SignUp-input {
  margin-bottom: 2.5em;
  height: 3rem;
  width: 100%;
  border: 1px solid #000000;
}

.Signup-submit,
.SignUp-login {
  font-family: 'Teko', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  border-style: none;
  width: 100%;
  margin-bottom: 1.5em;
}

.Signup-submit {
  background-color: #000000;
  color: #ffffff;
  height: 3.7rem;
}

.SignUp-line-break {
  border-top: 1px solid #000000;
  margin-bottom: 3em;
  width: 65%;
}

.SignUp-login {
  border: solid 1px black;
  color: #000000;
  width: 65%;
  text-align: center;
  text-decoration: none;
  padding: 0.2em;
}
