.Home-bottom-banners {
  display: flex;
  justify-content: space-between;
}

.Home-bottom-banners .TextOnImg-img {
  max-height: 600px;
  max-width: 390px;
}

.Home-bottom-banners .TextOnImg-txt {
  align-items: center;
  text-align: center;
  margin: 0;
}

.Home-bottom-banners .TextOnImg-txt-h1 {
  font-size: 4.5rem;
  margin: 0;
}

.Home-bottom-banners .CallToActionBtn {
  font-size: 2rem;
}

@media (max-width: 1260px) {
  .Home-bottom-banners > * .TextOnImg-img {
    max-width: 300px;
  }
}

/*Mobile Renderstyling*/

@media (max-width: 970px) {
  .Home-jordan-banner .TextOnImg-img {
    height: 400px;
    object-position: top;
  }
  .Home-jordan-banner .TextOnImg-txt-h1 {
    font-size: 4rem;
  }
  .Home-jordan-banner .CallToActionBtn {
    font-size: 2rem;
  }
}
.Home-bottom-banners-mobile {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2em 0;
}

.Home-bottom-banners-mobile > * .TextOnImg-img {
  display: block;
  max-height: 300px;
  max-width: 300px;
  margin: 0 auto;
}

.Home-bottom-banners-mobile .TextOnImg-txt {
  position: static;
  align-items: center;
  text-align: center;
  margin-bottom: 2.5em;
  padding-left: 0;
}

.Home-bottom-banners-mobile .TextOnImg-txt-h1 {
  font-size: 4rem;
}

.Home-bottom-banners-mobile .CallToActionBtn {
  font-size: 2rem;
}

@media (max-width: 360px) {
  .Home-jordan-banner .TextOnImg-txt-h1 {
    font-size: 3rem;
  }
  .Home-jordan-banner .CallToActionBtn {
    font-size: 1.5rem;
  }

  .Home-bottom-banners-mobile > * .TextOnImg-img {
    display: block;
    max-height: 250px;
    max-width: 250px;
    margin: 0 auto;
  }

  .Home-bottom-banners-mobile .TextOnImg-txt-h1 {
    font-size: 3rem;
  }

  .Home-bottom-banners-mobile .CallToActionBtn {
    font-size: 1.5rem;
  }
}
