.Footer {
  background-color: #000000;
}

.Footer .ContentContainer {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
}

.Footer-link,
.Footer-logo {
  color: #ffffff;
  text-decoration: none;
}

.Footer-link:hover,
.Footer-logo:hover {
  color: #4f4f4f;
}

.Footer-logo {
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

.Footer-main-content {
  margin-right: 1rem;
}

.Footer-links {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Footer-link {
  margin-left: 1em;
  font-size: 1.2rem;
}

.Footer-author {
  margin: 0;
  text-align: end;
}

@media (max-width: 970px) {
  .Footer .ContentContainer {
    flex-direction: column;
    justify-content: center;
    min-height: 25vh;
  }

  .Footer-main-content {
    margin: 0;
  }

  .Footer-link {
    margin: 0.5em;
  }

  .Footer-author {
    text-align: center;
    margin-top: 0.5em;
  }
}
