.Sneaker-main-content {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}
.Sneaker-recommendations {
  padding-bottom: 5em;
}

.Sneaker-recommendations-header {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 500;
}

.Sneaker-recommendations .SneakerGrid {
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  justify-content: center;
  gap: 0.5em;
}

@media (max-width: 970px) {
  .Sneaker .ContentContainer {
    width: 80%;
  }
  .Sneaker-main-content {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 776px) {
  .Sneaker-recommendations .SneakerGrid {
    grid-template-columns: repeat(auto-fit, 320px);
  }
}

@media (max-width: 375px) {
  .Sneaker-recommendations .SneakerGrid {
    grid-template-columns: repeat(auto-fit, 100%);
  }
}
